{%extends "layout.twig"%}
{%block contain %}
    <h1>Clientes</h1>
    <ul>
        {% for  cliente in clientes %}
            <li>{{cliente.nome}}</li>
            <li>{{cliente.email}}</li>
            {%endfor%}
    </ul>

{%endblock%}